@use 'sass:math';
// cs center 페이지
.cs-contents {
  padding-top: -vw(160);
  padding-bottom: -vw(200);
  .tit-box {
    margin-bottom: -vw(60);
    font-size: min(4rem, -vw(40));
    line-height: min(5.2rem, -vw(52));
    font-weight: 700;
    text-align: center;
  }
  .subscript {
    font-size: min(2.2rem, -vw(22));
    line-height: min(3.6rem, -vw(36));
    font-weight: 500;
    color: #555;
    text-align: center;
  }
  // 컨텐츠 스타일
  .card-num-list {
    width: min(140rem, -vw(1400));
    margin: 0 auto;
    margin-bottom: -vw(160);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: -vw(12);
    dl {
      display: flex;
      align-items: center;
      gap: -vw(40);
      padding: -vw(32) -vw(60);
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: -vw(12);
      font-family: 'Pretendard';
      font-size: min(2rem, -vw(20));
      line-height: min(2.6rem, -vw(26));
      color: #555;
      box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.04);
    }
    dt {
      font-weight: 900;
      font-size: min(4rem, -vw(40));
      line-height: min(3.2rem, -vw(32));
      color: $green-color;
    }
  }
  .card-step-list {
    width: min(140rem, -vw(1400));
    margin: 0 auto;
    margin-bottom: -vw(195);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: -vw(40);
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: -vw(80) -vw(42) -vw(43) -vw(50);
      background-color: #fafafb;
      border-radius: -vw(12);
      text-align: center;
      .card-header {
        margin-bottom: -vw(30);
        font-weight: 700;
        font-size: min(3.2rem, -vw(32));
        line-height: min(3.2rem, -vw(32));
        span {
          display: block;
          margin-bottom: -vw(12);
          font-weight: 400;
          font-size: min(1.8rem, -vw(18));
          line-height: min(2.1rem, -vw(21));
          text-transform: uppercase;
          color: $green-color;
        }
      }
      .card-body {
        height: -vw(86);
        font-family: 'Pretendard';
        font-weight: 500;
        font-size: min(2rem, -vw(20));
        line-height: min(2.6rem, -vw(26));
        color: #555;
      }
    }
  }
  .txt-card {
    width: min(140rem, -vw(1400));
    display: flex;
    align-items: stretch;
    gap: -vw(14);
    margin: 0 auto;
    margin-top: -vw(40);
    .card {
      flex: 1;
      padding: -vw(60);
      border-radius: -vw(12);
      border: 1px solid #ddd;
      font-size: min(1.8rem, -vw(18));
      line-height: min(2.6rem, -vw(26));
      font-weight: 500;
      color: #555;
      .card-header {
        margin-bottom: -vw(30);
        p {
          margin-top: -vw(16);
        }
      }
      .tit {
        font-size: min(2.8rem, -vw(28));
        line-height: min(3.8rem, -vw(38));
        font-weight: 600;
        color: #222;
      }
      .card-body {
        li {
          position: relative;
          padding-left: -vw(16);
          + li {
            margin-top: -vw(16);
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -vw(11.5);
            display: block;
            width: -vw(3);
            height: -vw(3);
            background-color: #555;
          }
        }
      }
    }
  }
  // 폼 스타일
  .form-wrap {
    width: -vw(1200);
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 6rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1.2rem;
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.04);
    .form-box + .form-box {
      margin-top: 6rem;
    }
    .form-tit {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 2rem;
      border-bottom: 2px solid #222;
      .fc-red {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
      }
      h6 {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3.6rem;
      }
    }
    .row {
      display: grid;
      align-items: center;
      grid-template-columns: -vw(200) 1fr;
      margin-top: 2rem;
      .inputbox {
        width: 100%;
      }
      .label {
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 700;
        &.req {
          span:after {
            content: '*';
            margin-left: 0.4rem;
            color: $red-color;
            line-height: 1.5rem;
            vertical-align: top;
          }
        }
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* tablet */
@media only screen and (max-width: 1280px) {
}
/* mobile */
@media only screen and (max-width: 1024px) {
}
