/* 메인 */
.main-banner {
  height: 100vh;
  .swiper-slide {
    position: relative;
    .video-js {
      width: 100%;
      height: 100%;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
    }
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // 배너 텍스트
  .banner-txt {
    max-width: 142rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: $white-color;
    position: absolute;
    bottom: 20rem;
    z-index: 2;
    .tit {
      font-size: 5.4rem;
      line-height: 8rem;
      margin-bottom: 2.4rem;
    }
    .sub-txt {
      font-size: 2.4rem;
      font-weight: 500;
    }
    .sub-tit {
      font-size: 3.2rem;
      font-weight: 700;
    }
  }
}
.main-references {
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    width: 44rem;
    img {
      width: 100%;
    }
  }
}
