/*공통버튼*/
.btn {
  min-width: 20rem;
  padding: 2.3rem 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-align: center;
}
