/* 공통 탭 */
.common-tab {
  border-bottom: 0.1rem solid #dedede;
  .swiper-wrapper {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 192rem;
    .swiper-slide {
      display: flex;
      flex: 1 1 auto;
      height: 11.2rem;
      align-items: center;
      position: relative;
      justify-content: center;
      a {
        display: block;
        position: relative;
        text-align: center;
        font-size: 2.4rem;
        line-height: 11.2rem;
        width: 100%;
        height: 100%;
      }
      &.active {
        a {
          font-weight: 700;
        }
        &::after {
          content: '';
          display: block;
          height: 0.4rem;
          background-color: $black-color;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design.
========================================================================== */
@media only screen and (max-width: 1024px) {
  .common-tab {
    position: relative;
    margin: auto;
    padding: 0 0.8rem;
    border-bottom: 0;
    overflow: hidden;
    .swiper {
      overflow: visible;
    }
    &::after {
      content: '';
      display: block;
      width: calc(100% + 4.8rem);
      position: absolute;
      bottom: 0;
      left: -2.4rem;
      height: 0.1rem;
      background-color: #dedede;
    }
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        width: auto;
        height: 6.8rem;
        flex: 0 0 auto;
        padding: 0 1.6rem;
        a {
          font-size: 1.8rem;
          line-height: 6.8rem;
        }
        &.active {
          &::after {
            width: calc(100% - 3.2rem);
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
